= content_for :title, Settings.application.api.name
= content_for :body_class, 'swagger-section'

= content_for :head do
  = stylesheet_link_tag    'swagger', media: 'screen'
  = stylesheet_link_tag    'swagger-print', media: 'print'
  = javascript_include_tag 'swagger'

javascript:
  $(function () {
    if (window.SwaggerTranslator) {
      window.SwaggerTranslator.translate();
    }
    window.swaggerUi = new SwaggerUi({
      url: "#{api_v1_docs_path}",
      dom_id: "swagger-ui-container",
      supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
      onComplete: function(swaggerApi, swaggerUi){
        if(window.SwaggerTranslator) {
          window.SwaggerTranslator.translate();
        }

        $('pre code').each(function(i, e) {
          hljs.highlightBlock(e)
        });

        addApiKeyAuthorization();
      },
      onFailure: function(data) {
        console.error("Unable to Load SwaggerUI");
      },
      docExpansion: "none",
      jsonEditor: false,
      apisSorter: "alpha",
      defaultModelRendering: 'schema',
      showRequestHeaders: false
    });

    function addApiKeyAuthorization() {
      var key = $("#api_token").val();
      if (key && key.trim() != "") {
        var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("Authorization", "Bearer " + key, "header");
        window.swaggerUi.api.clientAuthorizations.add("Bearer", apiKeyAuth);
      }
    }

    window.swaggerUi.load();
  });

#header
  .swagger-ui-wrap style='overflow: hidden;'
    #api_selector
      = label_tag :api_token, nil, style: 'float: left; padding: 5px; margin-right: 10px; display: block;'
      = text_field_tag :api_token, current_user&.user_api_tokens&.first&.token, name: nil, style: 'width: 300px;'

.swagger-section
  #message-bar.swagger-ui-wrap data-sw-translate='' &nbsp;
  #swagger-ui-container.swagger-ui-wrap
