= f.error_notification
= f.input :title
= f.input :description, hint: "Markdown supported. #{link_to('What is markdown?', doc_path(:markdown), target: '_blank')}".html_safe
= f.button :submit, class: 'btn-success'
