/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'devise'
 *= require_directory './ext'
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "startbootstrap-sb-admin-2/dist/css/sb-admin-2";
@import "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min";

.e2e-content {
  padding-top: 67px;
  margin-bottom: 40px;
}

.e2e-test-step-placeholder {
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #cccccc;
  padding: 0 10px;
}

.e2e-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.e2e-margined-btn-group {
  .btn {
    margin-right: 5px;
  }
  .btn:last-child {
    margin-left: 0px;
  }
}

.e2e-margined-label-group {
  .label {
    margin-right: 5px;
    display: inline-block; // label is styled as inline so this is a workaround until bootstrap 4
  }
  .label:first-child {
    margin-left: 0px;
  }
}
