@media (min-width: 768px) {
  .sidebar {
    margin-top: 52px;
  }
  #page-wrapper {
    padding-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 40px;
    overflow: hidden;
    .title {
      display: none;
    }
  }
  #page-wrapper {
    margin-left: 40px;
  }
}
